*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightsalmon;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 4vmin;
    background-color: cornsilk;
    color: brown;
    
}
#reset-btn{
    padding : 0.55rem;
    padding-left: 1rem ;
    padding-right: 1rem;
    border-radius: 1rem;
    font-size: 3vmin;
}

h1{
    margin-top: 4rem;
}
.para{
    margin-bottom: -1rem;
    font-size: 8vmin;}
    
.Draw{
    margin-bottom: -1rem;
    font-size: 8vmin;
}
.hide{

    display: none;
}
